<!-- contact section design -->
<section class="contact" id="contact">
  <h2 class="heading">Contact <span>Me!</span></h2>

  <form action="#" id="contact-form">
    <div class="input-box">
      <input type="text" id="name" placeholder="Full Name" />
      <input type="email" id="email" placeholder="Email Adress" />
    </div>
    <textarea name="" id="message" cols="30" rows="10" placeholder="Your Message"></textarea>
    <div style="display: flex; justify-items: center; align-items: center">
      <input type="submit" value="Send Message" id="submit_btn" class="btn" />
      <div id="loading-btn">
        sending
        <div id="loading"></div>
      </div>
    </div>
  </form>
</section>

