<!-- footer design [tailwind css used here] -->
<footer class="footer">
  <div class="col">
    <h1 class="">Quick Links</h1>
    <a href="https://www.upwork.com/freelancers/~0108b1074fe9afbd80?viewMode=1">
      UpWork
    </a>
    <a href="https://github.com/thealihamza04"> GitHub </a>
    <a href="https://www.linkedin.com/in/contact-with-alihamza/">
      LinkedIn
    </a>
  </div>

  <div class="col">
    <h1>contact Info</h1>
    <p class="link">thealihamza.dev@gmail.com</p>
  </div>

  <div class="main">
    <!-- <img src="https://www.kirupa.com/icon/1f354.svg" width="50" height="50"> -->
    <img src="./assets/images/shareicon.png" width="50" height="50" />
    <a href="https://www.linkedin.com/in/contact-with-alihamza/">
      <svg id="rotatingText" viewBox="0 0 200 200" width="150" height="150">
        <defs>
          <path id="circle" d="M 100, 100
                  m -75, 0
                  a 75, 75 0 1, 0 150, 0
                  a 75, 75 0 1, 0 -150, 0
                  "></path>
        </defs>
        <text width="200">
          <textPath alignment-baseline="top" xlink:href="#circle" class="text">
            Open to work, lets connect now
          </textPath>
        </text>
      </svg>
    </a>
  </div>

  <!-- <div class="footer-iconTop">
    <a href="#home"> <i class='bx bx-up-arrow-alt'></i> </a>
  </div> -->
</footer>

