<!-- portfolio section design -->
<section class="portfolio" id="portfolio">
  <h2 class="heading">Latest <span>Project</span></h2>

  <div class="portfolio-container">
    <div class="portfolio-box">
      <img src="assets/images/cs.jpg" alt="" />
      <div class="portfolio-layer">
        <h4>Codes-Sphere</h4>
        <!-- <p style="color: #323946">A curated collection of programming languages, tools, and frameworks</p> -->
        <a href="https://codes-sphere.vercel.app/" target="_blank"><i class="bx bx-link-external"></i></a>
      </div>
    </div>

    <div class="portfolio-box">
      <img src="assets/images/gc.jpg" alt="" />
      <div class="portfolio-layer">
        <h4>BotSphere</h4>
        <!-- <p> chatbot interface inspired by Gemini, offering interactive conversations. </p> -->
        <a href="https://botsphere.vercel.app/" target="_blank"><i class="bx bx-link-external"></i></a>
      </div>
    </div>

    <div class="portfolio-box">
      <img src="assets/images/vr.jpg" alt="" />
      <div class="portfolio-layer">
        <h4>Virtual Reality</h4>
        <p></p>
        <a href="https://frontvr.vercel.app/" target="_blank"><i class="bx bx-link-external"></i></a>
      </div>
    </div>

    <div class="portfolio-box">
      <img src="assets/images/rqg.jpg" alt="" />
      <div class="portfolio-layer">
        <h4>Random Quotes</h4>
        <p></p>
        <a href="https://rq-generator.vercel.app/" target="_blank"><i class="bx bx-link-external"></i></a>
      </div>
    </div>

    <div class="portfolio-box">
      <!-- <img src="assets/images/readnest.png" alt=""> -->
      <img src="assets/images/rn.jpg" alt="" />
      <div class="portfolio-layer">
        <h4>ReadNest</h4>
        <!-- <p style="color: #323946">a books selling webapp</p> -->
        <a href="https://readnest.vercel.app/" target="_blank"><i class="bx bx-link-external"></i></a>
      </div>
    </div>

    <div class="portfolio-box">
      <img src="assets/images/bb.jpg" alt="" />
      <div class="portfolio-layer">
        <h4>BigBrains</h4>
        <!-- <p>Web Application for Selling Online Courses
          <span style="color: rgba(219, 219, 219, 0.793)">*Production</span>
        </p> -->
        <a href="https://bigbrainss.com/" target="_blank"><i class="bx bx-link-external"></i></a>
      </div>
    </div>

    <div class="portfolio-box">
      <img src="assets/images/dl.jpg" alt="" />
      <div class="portfolio-layer">
        <h4>DeadLine Tracker</h4>
        <a href="https://deadline-tracker04.vercel.app/" target="_blank"><i class="bx bx-link-external"></i></a>
      </div>
    </div>

    <div class="portfolio-box">
      <img src="assets/images/tell_me_your_need.png" alt="" />
      <div class="portfolio-layer">
        <h4>TellMeYourNeed</h4>
        <a href="https://tellmeyourneed.vercel.app/" target="_blank"><i class="bx bx-link-external"></i></a>
      </div>
    </div>

    <div class="portfolio-box">
      <img src="assets/images/ta.jpg" alt="" />
      <div class="portfolio-layer">
        <h4>ThinkArena</h4>
        <a href="https://thinkarena.vercel.app/" target="_blank"><i class="bx bx-link-external"></i></a>
      </div>
    </div>

    <div class="portfolio-box">
      <img src="assets/images/react_firebase_app_img.png" alt="" />
      <div class="portfolio-layer">
        <h4>React Firebase Template</h4>
        <a href="https://react-fb-todos.vercel.app/" target="_blank"><i class="bx bx-link-external"></i></a>
      </div>
    </div>

    <div class="portfolio-box">
      <img src="assets/images/react_supabase_app_img.png" alt="" />
      <div class="portfolio-layer">
        <h4>ReactSupabase Template</h4>
        <a href="https://reactsb.vercel.app/" target="_blank"><i class="bx bx-link-external"></i></a>
      </div>
    </div>

    <div class="portfolio-box">
      <img src="assets/images/bidzest_app_img.png" alt="" />
      <div class="portfolio-layer">
        <h4>Bidzst</h4>
        <a href="https://bidzest.vercel.app/" target="_blank"><i class="bx bx-link-external"></i></a>
      </div>
    </div>
  </div>
  <!-- </div> -->
</section>

