<!-- services section design -->
<section class="services" id="services">
  <h2 class="heading"><span>Services</span></h2>

  <div class="services-container">
    <div class="services-box">
      <i class="bx bx-code"></i>
      <h3>Frontend Dev</h3>
      <p>
        Skilled in building web apps with React specializing in responsive
        design
      </p>
      <!-- <a href="#" class="btn">Read More</a> -->
    </div>

    <div class="services-box">
      <i class="bx bx-code-alt"></i>
      <h3>Backend Dev</h3>
      <p>
        Specialized in server-side development using Node.js. Building
        robust APIs
      </p>
      <!-- <a href="#" class="btn">Read More</a> -->
    </div>

    <div class="services-box">
      <i class="bx bx-pen"></i>
      <h3>ui/ux Designing</h3>
      <p>
        Specialized in UI/UX design using Figma, creating interfaces &
        prototypes
      </p>
      <!-- <a href="#" class="btn">Read More</a> -->
    </div>
  </div>
</section>

